<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BLog Website</h1>

 {% extends "blog/main.html" %}
 {% block content %}
    <h1>{{user}}</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    {% for post in posts %}
    <div><h1>{{post.user}}</h1>
    <h3>{{post.title}}</h3>
    {{post.content}}
    {{post.date_posted}}
    {% endfor %}</div>
 {% endblock content %}
</body>
</html>